:root,
.light {
  /* EY Neutralized Blue Scale (Mapped to Grays) */
  --blue-1: rgb(252 253 254);
  --blue-2: rgb(246 249 255);
  --blue-3: rgb(240 240 240);
  --blue-4: rgb(220 220 220);
  --blue-5: rgb(200 200 200);
  --blue-6: rgb(180 180 180);
  --blue-7: rgb(160 160 160);
  --blue-8: rgb(140 140 140);
  --blue-9: rgb(80 80 80);
  /* Dark Gray for primary actions if used */
  --blue-10: rgb(60 60 60);
  --blue-11: rgb(40 40 40);
  --blue-12: rgb(20 20 20);

  /* EY Yellow Scale (Replacing Orange) */
  --orange-1: rgb(255 255 250);
  --orange-2: rgb(255 255 240);
  --orange-3: rgb(255 250 200);
  --orange-4: rgb(255 245 150);
  --orange-5: rgb(255 240 100);
  --orange-6: rgb(255 235 50);
  --orange-7: rgb(255 230 0);
  --orange-8: rgb(255 230 0);
  /* Primary focus */
  --orange-9: rgb(255 230 0);
  /* EY Yellow Main */
  --orange-10: rgb(230 200 0);
  --orange-11: rgb(180 150 0);
  --orange-12: rgb(50 40 0);

  /* EY Neutralized Purple Scale (Mapped to Grays) */
  --purple-1: rgb(252 252 255);
  --purple-2: rgb(249 248 255);
  --purple-3: rgb(242 240 255);
  --purple-4: rgb(230 230 230);
  --purple-5: rgb(210 210 210);
  --purple-6: rgb(190 190 190);
  --purple-7: rgb(170 170 170);
  --purple-8: rgb(150 150 150);
  --purple-9: rgb(100 100 100);
  --purple-10: rgb(80 80 80);
  --purple-11: rgb(60 60 60);
  --purple-12: rgb(30 30 30);

  --red-1: rgb(255 252 252);
  --red-2: rgb(255 247 246);
  --red-3: rgb(255 235 233);
  --red-4: rgb(255 218 214);
  --red-5: rgb(255 203 198);
  --red-6: rgb(255 186 181);
  --red-7: rgb(252 165 160);
  --red-8: rgb(244 137 132);
  --red-9: rgb(248 59 69);
  --red-10: rgb(234 38 56);
  --red-11: rgb(216 6 42);
  --red-12: rgb(106 13 20);

  --green-1: rgb(251 254 252);
  --green-2: rgb(244 251 247);
  --green-3: rgb(229 246 236);
  --green-4: rgb(213 241 224);
  --green-5: rgb(195 232 210);
  --green-6: rgb(173 222 192);
  --green-7: rgb(142 206 169);
  --green-8: rgb(95 184 136);
  --green-9: rgb(43 154 102);
  --green-10: rgb(22 141 90);
  --green-11: rgb(0 129 79);
  --green-12: rgb(28 59 42);

  --gray-1: rgb(255 255 255);
  --gray-2: rgb(250 250 250);
  --gray-3: rgb(245 245 245);
  --gray-4: rgb(240 240 240);
  --gray-5: rgb(230 230 230);
  --gray-6: rgb(220 220 220);
  --gray-7: rgb(200 200 200);
  --gray-8: rgb(180 180 180);
  --gray-9: rgb(150 150 150);
  --gray-10: rgb(100 100 100);
  --gray-11: rgb(50 50 50);
  --gray-12: rgb(20 20 20);
}

.dark {
  /* EY Neutralized Blue Scale (Dark Mode) */
  --blue-1: rgb(10 10 10);
  --blue-2: rgb(20 20 20);
  --blue-3: rgb(30 30 30);
  --blue-4: rgb(40 40 40);
  --blue-5: rgb(50 50 50);
  --blue-6: rgb(70 70 70);
  --blue-7: rgb(90 90 90);
  --blue-8: rgb(110 110 110);
  --blue-9: rgb(80 80 80);
  /* Muted Blue/Gray */
  --blue-10: rgb(100 100 100);
  --blue-11: rgb(200 200 200);
  --blue-12: rgb(240 240 240);

  /* EY Yellow Scale (Replacing Orange) */
  --orange-1: rgb(26 26 0);
  --orange-2: rgb(40 40 0);
  --orange-3: rgb(60 60 0);
  --orange-4: rgb(80 80 0);
  --orange-5: rgb(100 100 0);
  --orange-6: rgb(140 130 0);
  --orange-7: rgb(180 160 0);
  --orange-8: rgb(210 190 0);
  --orange-9: rgb(255 230 0);
  /* EY Yellow Main */
  --orange-10: rgb(255 240 50);
  --orange-11: rgb(255 255 150);
  --orange-12: rgb(255 255 220);

  /* EY Neutralized Purple Scale (Dark Mode) */
  --purple-1: rgb(15 15 15);
  --purple-2: rgb(25 25 25);
  --purple-3: rgb(35 35 35);
  --purple-4: rgb(45 45 45);
  --purple-5: rgb(55 55 55);
  --purple-6: rgb(75 75 75);
  --purple-7: rgb(95 95 95);
  --purple-8: rgb(115 115 115);
  --purple-9: rgb(128 128 128);
  --purple-10: rgb(150 150 150);
  --purple-11: rgb(200 200 200);
  --purple-12: rgb(240 240 240);

  --red-1: rgb(19 10 10);
  --red-2: rgb(32 18 17);
  --red-3: rgb(62 14 15);
  --red-4: rgb(85 5 12);
  --red-5: rgb(103 11 19);
  --red-6: rgb(121 27 31);
  --red-7: rgb(147 43 45);
  --red-8: rgb(190 58 60);
  --red-9: rgb(248 59 69);
  --red-10: rgb(233 41 57);
  --red-11: rgb(255 143 137);
  --red-12: rgb(255 208 203);

  --green-1: rgb(13 19 15);
  --green-2: rgb(19 27 22);
  --green-3: rgb(21 44 32);
  --green-4: rgb(22 59 39);
  --green-5: rgb(28 72 49);
  --green-6: rgb(37 87 61);
  --green-7: rgb(45 103 73);
  --green-8: rgb(53 123 87);
  --green-9: rgb(43 154 102);
  --green-10: rgb(22 141 90);
  --green-11: rgb(104 208 152);
  --green-12: rgb(179 240 204);

  /* EY Dark Scale */
  /* Main Background - Navigation / Sidebar (Dark Graphite) */
  --gray-1: rgb(26 26 26);
  /* Canvas Background - Deep Black */
  --gray-2: rgb(15 15 15);
  /* Secondary / Card Bg */
  --gray-3: rgb(35 35 35);
  /* Tertiary */
  --gray-4: rgb(45 45 45);
  --gray-5: rgb(55 55 55);
  --gray-6: rgb(70 70 70);
  /* Borders */
  --gray-7: rgb(90 90 90);
  --gray-8: rgb(120 120 120);
  --gray-9: rgb(150 150 150);
  --gray-10: rgb(180 180 180);
  --gray-11: rgb(220 220 220);
  /* Text Secondary */
  --gray-12: rgb(255 255 255);
  /* Text Primary */
}

@theme inline {
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-purple-6: var(--purple-6);
  --color-purple-7: var(--purple-7);
  --color-purple-8: var(--purple-8);
  --color-purple-9: var(--purple-9);
  --color-purple-10: var(--purple-10);
  --color-purple-11: var(--purple-11);
  --color-purple-12: var(--purple-12);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
}
